@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <img src="https://media1.tenor.com/m/ZAMoMuQgf9UAAAAd/mapache-pedro.gif" alt="Italian Trulli">
    </p>
</div>
